body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #292929;
  /*
  color: #AAA;
  background-color: #AAA;
  */
}

label {
  color: #AAA;
}

h3 {
  color: #BBB;
  font-weight: normal;
}

.column {
  width: 50%;
  margin-right: 20px;
}

li.active,
li.query:hover,
div.systemData:hover,
li.component:hover,
li.systemQuery:hover,
li.query:hover
 {
  background-color: #464323;
}

li.running {
  background-color: #ff9;
}

li {
  list-style: none;
}

li.query,
li.component,
div.systemData,
li.systemQuery {
  padding: 2px;
  background-color: #1E1E1E;
}

li .name {
  color: #B5B5B5;
  font-weight: normal;
}

li.query,
div.systemData,
li.component {
  padding: 5px 0px 5px 15px;
  border-left: 5px solid #161616;
  margin-bottom: 3px;
}

li.component {
  display: flex;
}

div.systemData {
  margin-bottom: 0px;
}

div.systemData:hover,
div.system:hover,
li.query:hover,
li.component:hover {
  border-left-color: #B4AD5D;
}

ul {
  padding-left: 0px;
  margin-top: 5px;
}

li .stats,
li .value {
  color: #fff;
}

li.component div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center;
}

li.component div:nth-child(2) {
  color: #F1421C;
}

.disabled {
  background-color: #262626;
  color: #7D7D7D;
}

.disabled .stats,
.disabled .name {
  color: #7D7D7D;
}

li.system .queries li {
  background-color: #273635;
  padding: 5px;
}

.system .queries {
  font-size: 0.8em;
}

.system .queries .name {
  color: #1B856B;
  background-color: #232A2C;
  border-radius: 5px;
  padding: 4px 8px;
}

.system .queries .originalQueryName {
  color: #2CEBBD;
}

.systemData {
  display: flex;
  align-items: center;
}

.systemData div.graph-controls,
.systemData div.name-stats {
  width: 50%;
}

.graph-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-stats  {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.SystemQueryName,
.ComponentName {
  color: #1B856B;
  background-color: #232A2C;
  font-size: 0.9em;
  padding: 5px;
  margin-right: 4px;
  border-radius: 6px;
}

.graph {
  height: 200px;
}

.buttons {
  font-size: 1.4em;
  margin-left: 5px;
  margin-right: 5px;
}

.systemQueryLi {
  padding: 6px;
  display: flex;
  justify-content: space-between;
}

.queriesTitle {
  padding: 10px;
}

li.query {
  display: flex;
}