#app {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #292929;
  /*
  color: #AAA;
  background-color: #AAA;
  */
}

h3 {
  color: #BBB;
  font-weight: normal;
}

.column {
  width: 50%;
  margin-right: 20px;
}

li.active,
li.system:hover,
li.systemQuery:hover,
li.query:hover
 {
  background-color: #464323;
}

li.running {
  background-color: #ff9;
}

li {
  padding: 2px;
  background-color: #1E1E1E;
  list-style: none;
}

li .name {
  color: #B5B5B5;
  font-weight: normal;
}

li.system,
li.component {
  padding: 15px 0px 15px 15px;
  border-left: 5px solid #161616;
  margin-bottom: 3px;
}

li.component {
  display: flex;
}

li.system:hover,
li.component:hover {
  border-left-color: #B4AD5D;
}

ul {
  padding-left: 0px;
}

li .stats,
li .value {
  color: #fff;
}

li.component div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-right: 15px;
}

li.component div:nth-child(2) {
  color: #F1421C;
}

.disabled {
  background-color: #262626;
  color: #7D7D7D;
}

.disabled .stats,
.disabled .name {
  color: #7D7D7D;
}

li.system .queries li {
  background-color: #273635;
  padding: 5px;
}

.system .queries {
  font-size: 0.8em;
}

.system .queries .name {
  color: #1B856B;
  background-color: #232A2C;
  border-radius: 5px;
  padding: 4px 8px;
}

.system .queries .originalQueryName {
  color: #2CEBBD;
}

.systemData {
  display: flex;
}

.systemData div {
  width: 50%;
}

.graph-controls {
  display: flex;
  justify-content: space-between;
}

.name-stats  {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

canvas {
  background-color: #ff9;
}